# mypy
.mypy_cache/
.vscode
*.idea*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*/__pycache__/


# ckpt
/data/*
/models/*
/output/*
/output_robustness/*
/log/*
# debug
/scripts/debug.sh
/scripts/debug_test.sh
/scripts/make_datasets_local.sh
/experiments/debug.yaml
/tools/make_datasets_local.py
